body {
    font-family: trebuchet ms, futura, arial, sans-serif;
    font-size: 15px;
}

h1 { font-size: 22px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }


/***** Navigation *****/
ul.menu { list-style: none; }
ul.menu li {
    list-style: none;
    display:block;
    float: left;
    padding: .25em .5em;
    font-weight: bold;
    font-size: 18px;
    
    background: #CFD;
}
ul.menu li:hover { background: #ADB; }
ul.menu:after { content: " "; display:block; clear: both; }


/***** Data-specific formatting *****/
a.icon span {
    display: block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    text-indent: -100em;
}
a.icon.email span { background-image: url(email_icon.png); }
a.icon.fb span { background-image: url(facebook_icon.png); }
a.icon.linkedin span { background-image: url(linkedin.png); }

table.users {
    width: 100%;
}

table.users th {
    background: #CCCCCC;
    font-weight: bold;
}

table.users td {
    padding: .25em;
}

/* search result cards */
.searchresult {
    position: relative;
    padding: .5em;
    background: #CCCCCC;
    width: 60%;
    margin: .5em .25em;
}
.searchresult:hover { background: #CCCCFF; }
.searchresult span { display: block; }
.searchresult .name { padding-left: 35px; min-height: 32px; 
    background-position: left; background-repeat: no-repeat;
    font-size: 16px;
    font-weight: bold;
}
.searchresult .name.band { background-image: url(icon-band.png); }
.searchresult .name.musician { background-image: url(icon-male.png); }
.searchresult .contacts { position: relative; right:.25em; top: .25em; }